<div class="Add container-fluid p-0 m-0 h-100">
    <div class="Add-section d-flex py-5 border">
        <h2 class="ms-3 fw-bold display-5 fs-1">Agregar Productos</h2>
    </div>

    <div action="" class="Add-section row m-0 py-5  px-5">

        <div class="Add-column col-xl-3 m-xl-auto text-center mb-4 ">
            <img src="assets/carrou1.jpg" alt="" class="Add-img img-fluid">
        </div>

        <div class="Add-column col-xl-9 ">
            <form class="Add-form row ">
                <div class="Add-groupInput col-md-6">
                    <label for="" class="form-label">Nombre *</label>
                    <input type="text" class="form-control form-control-lg">
                </div>

                <div class="Add-groupInput col-md-3">
                    <label for="" class="form-label">Precio</label>
                    <input type="text" class="form-control form-control-lg">
                </div>

                <div class="Add-groupInput col-md-3">
                    <label for="" class="form-label">Stock</label>
                    <input type="text" class="form-control form-control-lg">
                </div>

                <div class="Add-groupInput col-md-8">
                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control form-control-lg">
                </div>

                <div class="Add-groupInput col-md-4">
                    <label for="" class="form-label">Img</label>
                    <input type="text" class="form-control form-control-lg">
                </div>

                <div class="Add-groupInput col-md-4">
                    <label for="" class="form-label">Categoría</label>
                    <select class="form-select form-select-lg" id="">
                        <option selected>------</option>
                        <option value="">Monitores</option>
                        <option value="">Tarjetas gráficas</option>
                        <option value="">Laptops</option>
                        <option value="">TV</option>
                        <option value="">Móviles</option>
                    </select>
                </div>

                <div class="Add-groupInput col-md-4">
                    <label for="" class="form-label">Retiro</label>
                    <select class="form-select form-select-lg" id="">
                        <option selected>------</option>
                        <option value="">Tienda</option>
                        <option value="">Delivery</option>
                    </select>
                </div>

                <div class="Add-groupInput col-md-4">
                    <label for="" class="form-label">Vendido por</label>
                    <select class="form-select form-select-lg" id="">
                        <option selected>------</option>
                        <option value="">Marketplace</option>
                        <option value="">Asus</option>
                    </select>
                </div>


                <div class="text-center">
                    <button class="Add-button Add-button--submit btn" type="submit"> Crear Producto</button>
                </div>

            </form>
        </div>

    </div>
</div>