/* You can add global styles to this file, and also import other style files */

.container-principal{
	background-image: linear-gradient(360deg,#08AEEA ,  #2AF598 83%);
   
}

body{
   /*  background-image: linear-gradient(0deg, #FBDA61 , #FF5ACD 100%); */
}


.card-1{
    background-image: url(./assets/pokemonred.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    min-height:20rem
}

.card-2{

    background-image: url(./assets/pokemongold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

}


.card-3{
    background-image: url(./assets/pokemonblue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}


 #card-pokemon::before{
	content:  "";
	background-color: black;
    border-radius:0.7rem;
	position: absolute;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 0;
} 


@media only screen and (max-width:570px){

.card-2{
    display:none;
}

.card-3{
    display:none;
}

.card-1{
   
    background-image: "";
    background-image: url(./assets/pokemongold.jpg);;
    min-height:13rem
}
}


