<h4 class="fs-6 lead text-uppercase pt-1">Por moneda</h4>
<app-search-component (onEmitValue)="endpointCurrency($event)"></app-search-component>

<div *ngIf="countryFound, else currencyNotWasFound">
    <app-table-component [arrayCountries]="countryArray"></app-table-component>
    </div>
    
    <ng-template #currencyNotWasFound>
    
        <div class="alert alert-danger p-5 mt-4 text-center" role="alert">
            <span class="text-center">  Currency, not was found.</span>
          </div>
    </ng-template>