<footer class="container-fluid mt-5 ">
    <div class="row">
        <div class="row p-5">
            <div class="col-md-4">
                <div class="row row-cols-1 gap-2 m-auto">
                    <h6 class="fw-bold fs-5">PRODUCTOS</h6>
                    <div class="col">Móviles</div>
                    <div class="col">Laptops</div>
                    <div class="col">Tv</div>
                    <div class="col">Monitores</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row row-cols-1 gap-2 m-auto">
                    <h6 class="fw-bold fs-5">SOPORTE</h6>
                    <div class="col">Soporte cliente</div>
                    <div class="col">Ubicación de centros de servicio</div>
                    <div class="col">Libro de reclamaciones</div>
                    <div class="col">Aviso de privacidad de servicios</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row row-cols-1 gap-2 m-auto">
                    <h6 class="fw-bold fs-5 ">ACERCA DE </h6>
                    <div class="col">Acerca de </div>
                    <div class="col">Soporte cliente</div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>


</footer>