
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" routerLink=""
      routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" >Por País</button>
    <button type="button" class="list-group-item list-group-item-action" routerLink="capital"
      routerLinkActive="active">Por Capital</button>
    <button type="button" class="list-group-item list-group-item-action" routerLink="region"
      routerLinkActive="active">Por Región</button>
    <button type="button" class="list-group-item list-group-item-action" routerLink="lenguage"
      routerLinkActive="active">Por lenguaje</button>
    <button type="button" class="list-group-item list-group-item-action" routerLink="currency"
      routerLinkActive="active">Por Moneda</button>
  </div>

