<header class="Header position-relative d-flex justify-content-between align-items-center">

    <div class="Header-content Header-content--logo gap-3 d-flex align-items-center">
        <a class="Header-hamburguer position-relative" (click)="clickEventopenMenu($event)">
            <img src="assets/hamburguer.png" alt="menu" class="Header-img  p-1">
        </a>
        <img src="assets/youtubeLogo.png" alt="logo" class="Header-img Header-img--logo">
    </div>

    <form class="Header-content Header-content--form d-flex align-items-center">
        <div class="Header-group input-group">
            <input type="text" class="Header-input form-control" placeholder="Buscar">
            <span class="Header-group input-group-text" id="name">
                <img src="assets/search.jpg" alt="micro" class="Header-img Header-img--search">
            </span>
        </div>
    </form>
    <div class="Header-content Header-content--profile d-flex">
        <a> <img src="" alt="" class="Header-img Header-img--user"></a>
        <h3>prof</h3>
        <h3>h3</h3>
    </div>
</header>