<header class="Header ">
    <nav class="Header-nav navbar navbar-expand-lg bg-light">
        <div class="Header-container container-fluid">
            <a class="Header-a navbar-brand"> <img src="assets/logo.jpg" class="Header-logo"></a>
            <button class="Header-button navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#shopLogo">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="Header-collapse collapse navbar-collapse " id="shopLogo">
                <ul class="Header-ul navbar-nav ms-2">
                    <li class="Header-li nav-item"> <a class="Header-a nav-link">Móviles</a></li>
                    <li class="Header-li nav-item"> <a class="Header-a nav-link">Laptops</a></li>
                    <li class="Header-li nav-item"> <a class="Header-a nav-link">TV</a></li>
                    <li class="Header-li nav-item"> <a class="Header-a nav-link">Monitores</a></li>
                </ul>

                <div class="d-md-flex  ms-2">
                    <ul class="navbar-nav">
                        <li class="Header-li nav-item"> <a class="Header-a nav-link">Soporte</a></li>
                    </ul>
                    <form class="Header-form d-flex" role="search">
                        <input class="Header-input form-control" type="search">
                    </form>

                    <ul class="navbar-nav">
                        <li class="Header-li nav-item"> <a class="Header-a nav-link">Hola</a></li>
                    </ul>
                </div>


            </div>


        </div>
    </nav>
</header>