.Home {
    padding: 0;
    &-row {
        height: 100%;
        margin:0;
    }

    &-column {
        padding: 0;
    }

    &-Header {
        height: 3.7rem;
    }

    &-section {
        flex-grow: 1;
    }

}