<div class="Home container-fluid h-100">
    <div class="Home-row row">
        <div class="Home-column col-md-2 bg-dark text-light">
            <h2>Neymar Jr</h2>
        </div>

        <div class="Home-column p-0 col-md-10">
            <div class="Home-content d-flex flex-column h-100">
                <!-- app navbar -->
                <div class="Home-Header border-bottom">Header</div>

                <div class="Home-section">
                    <div class="Home-row row">
                        <div class="Home-column col-md-3 border-end">
                            <h2 class="py-5 px-3 fw-bold border-bottom">Ajustes</h2>

                            <div class="p-4 border-bottom">
                                <h6 class="">Ajustes</h6>
                                <p class="lead fs-6">Administra tu perfil público e información privada</p>
                            </div>

                            <div class="p-4 border-bottom">
                                <h6 class="">Seguridad</h6>
                                <p class="lead fs-6">Administra tu perfil público e información privada</p>
                            </div>
                         

                        </div>
                        <div class="Home-column col-md-9 p-4">
                            <h3 class="py-3">Seguridad</h3>

                            <h5>Cambia tu contraseña</h5>
                            <p class="pb-5">La nueva contraseña debe incluir números,letras y carácteres especiales</p>


                            <form action="">
                                <label for="renew" class="form-label">Contraseña actual *</label>
                                <input type="password" id="renew" class="form-control">

                                <label for="repeatRenew" class="form-label">Contraseña actual *</label>
                                <input type="password" id="repeatRenew" class="form-control">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<router-outlet></router-outlet>