<div class="Home container-fluid h-100">
    <div class="Home-row row">
        <div class="Home-column col-xl-2 bg-dark text-light">
            <app-sidenav-admin> </app-sidenav-admin>
        </div>

        <div class="Home-column p-0 col-xl-10">
            <div class="Home-content d-flex flex-column h-100">
                <!-- app navbar -->
                <div class="Home-Header border-bottom">
                    <app-navbar-admin></app-navbar-admin>
                </div>

                <div class="Home-section">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>