
<!-- POKEMON SECTION ONLY DESIGNE -->
<div
  class="container-principal container-fluid h-100 d-flex flex-column align-items-center justify-content-evenly position-relative ">
  <nav class="container-fluid__nav text-end ">
    <h3 class="fst-italic lead text-center"> Pokemon, una forma diferente de ver el mundo</h3>
  </nav>

  <div class="container-fluid__logo d-flex flex-column align-items-center  ">
    <div class="d-flex flex-wrap animate__animated animate__backInDown ">
      <h1 class="container-fluid__h1 display-1 fw-bold">PokeAPI</h1>
      <a href="#"><img src="../assets/pokemonpng.png" alt="" height="100" width="100" class="icon-pokemon"></a>
    </div>
    <h2 class="lead fs-3 text-center animate__animated animate__backInUp">Busca tus pokemones favoritos y conoce sus
      habilidades </h2>
  </div>

  <div class="container-fluid__bot rounded-3">
    <p class="container-fluid__p text-center ">Esta es solo una pagina con motivos de aprendizaje, 0%comercial.
      by, <a href="" class="text-decoration-none fw-bold">Juan Tasayco</a> </p>
  </div>
</div> 


<!-- POKEMON API FUNCTIONAL -->
<div class="container-secundario container d-flex flex-column justify-content-center rounded-3  pt-3  h-100">
  <h2 class="display-4 fw-bold text-center ">Selecciona a los más poderosos</h2>
  <p class="lead text-center">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
    most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
    prebuilt components, and powerful JavaScript plugins.</p>

  <div class="row text-white my-5 position-relative ">
    <div class="col-12 col-md-4 p-1">
      <div class=" card-1 card card-cover h-100 rounded-4 shadow-lg" id="card-pokemon" >
        <div class="h-100 p-5 pb-3 text-shadow-1 ">
          <h2 class="pt-5 mb-4 display-6 text-center"> Legión fuego</h2>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-4 p-1">
      <div class="card-2 card card-cover h-100  rounded-4 shadow-lg overflow-hidden" id="card-pokemon">
        <div class="h-100 p-5 pb-3 text-shadow-1 ">
          <h2 class="pt-5 mb-4 display-6 text-center"> Legión Trueno</h2>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-4 p-1">
      <div class="card-3 card card-cover h-100  rounded-4 shadow-lg" id="card-pokemon">
        <div class="h-100 p-5 pb-3 text-shadow-1 ">
          <h2 class="pt-5 mb-4 display-6 text-center"> Legión hielo</h2>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="d-flex align-items-center flex-wrap">
    <h3 class="lead fs-3 p-3">Lista de pokémons</h3>
    <img src="../assets/pokemonpng.png" alt="" width="50" height="50">
  </div> 




<app-page-navigation></app-page-navigation>

<router-outlet></router-outlet>






 