.demo-inline-calendar-card {
  width: 300px;
}

::ng-deep .mat-calendar-body-cell.selected {
  background-color: #e3165b !important;
  color: #fff !important;
  border-radius: 50%;
  transform: scale(0.9);
}
::ng-dee .drop-calendar {
  width: 30rem;
}

.drop-calendar {
  width: 30rem;
}
